<%# <p style="color: green"><%= notice </p>  %>
<div class="card text-center mb-3" style="width: 20rem; height : 12rem"  >
  <div class="card-body">
  <h5 class="card-title" ><%= @friend.First_name %> <%= @friend.Last_name %></h5>
  <p class="card-text" ><%= @friend.Email %> | <%= @friend.Phone_no%> </p>
  <p class="card-text"> <%= @friend.Description %> </p>
  </br></br></br>
  </div>
</div>
   <%# <%= render @friend.First_name %>
  <%= link_to "Edit this friend", edit_friend_path(@friend) , class:"btn btn-warning" %>  | <%= link_to "Back to friends", friends_path  , class:"btn btn-success"%> 
  </br></br>
  <%= button_to "Destroy this friend", @friend, method: :delete , class:"btn btn-danger"%> </br>